body{
    background-color: antiquewhite;
}
.container{
    height: 400px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: flex-end; */
    gap: 20px;
    align-items: center;
}
.child1,.child2,.child3,.child4{
    /* display: inline-block; */
    height: 300px;
    border: 2px solid red;
    width: 200px;
    /* margin: 30px; */
}
.child1{
    background-color: brown;
    flex-basis: 50%;
}
.child2{
    background-color: lavender;
}
.child3{
    background-color: rgb(249, 180, 96);
}
.child4{
    background-color: rgb(228, 215, 99);
}